@charset "UTF-8";

$helpers-text-align-class-prefix: 'txt-a' !default;

@mixin helpers-text-align($responsive : false) {
  $alignments: (left, right, center, justify);
  
  @if $responsive {
    
    @each $classname in $breakpoint-classes {
      @include breakpoint($classname) {
        @each $align in $alignments {
          .#{$classname}-#{$helpers-text-align-class-prefix}-#{$align} {
            text-align: $align !important;
          }
        }
      }
    }
    
  } @else {
    @each $align in $alignments {
      .#{$helpers-text-align-class-prefix}-#{$align} {
        text-align: $align !important;
      }
    }
  }
}